

/*@media(max-width: 600px){
    body{
        background-color:green;
        width: 50%;
     input{
            max-width: 90%;
        } 
    }
   
    
}




img{
    width: 80%;
    height: 500px;
    margin-left: 10%;
    object-fit: cover;
}


body{
    background-image: url(image/background\ image.jpg);

    background-repeat: no-repeat;
    background-size: cover;
  
 
}

input{
    max-width: 9000%;
}*/

